/*********************  MENU NAV ******************************/
.navbar{
    padding-top: 20px;
    padding-bottom: 20px;
    letter-spacing: 5px;
    color: #000;
    font-family: 'Roboto',sans-serif;
    font-size: 14px;
}

.optmenu{
    font-family: 'Roboto',sans-serif;
    font-size: 14px;
    transition: all 1s solid;
}

.optmenu:hover{
    color: #fff;
    background-color: #000;
    transition: all 1s solid;
}

.optmenu:active{
    background-color: brown;
}


/* PERSONALIZACION MENU HAMBURGUESA */

.navbar-toggler{
    background-color:#809ecf ;
    border: 3px solid #fff;

}

.navbar-toggler:hover{
    background-color: #d6dbe3;
}

.custom-toggler.navbar-toggler{
    border-color: #ffff;
}

/*Personalizacion lineas del menu hamburguesa*/

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }         
.custom-toggler .navbar-toggler-icon:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  } 



/********************* MEDIAS QUERYS ******************************/

@media (max-width: 575px) {
    html {
        font-size: 1rem;
    }
    .logo img {
        
        display: block !important;
        margin:0 auto !important; 
        /*margin-left: 50px;*/
    }
    .navbar-toggler {
        margin: 0 auto;
    }
    .titulo {
        font-size: 2.5rem;
        margin-top: 150px;
    }
    p {
        font-size: 1.1rem !important;
    }
    
}
