.bannerintro{
    background-image: url("../imagenes/intro-bg.jpg");
    background-size: cover;
    background-position: center;
    height: 610px;
}

a{
    font-size: 30px;
    color: #fff;
    padding: 120px 0;
    position: relative;
}

.titulo2{
    font-size: 20px;
   
}

.fondo1{
    background-color: black;
}

.fondo2{
    background-color: #4c6bbf;
}

.banner2{
    background-image: url("../imagenes/bannert-min.jpg");
    background-size: cover;
    background-position: center;
    box-shadow: inset;
    background-color: black;
    background-blend-mode: inherit;

    
    /*efecto parallax*/
    background-attachment: fixed;
}

.container-fluid2{
    padding-top: 140px;
    padding-bottom: 140px;
}


i{
    font-size: 80px;
    color: #a5cfe6;
}