
.fondo1{
    background-color: #4dd2c7;
}


.espacio{
    padding: 120px 0;

}




.fondo2{
    background-color: #4c6bbf;
}

.container-fluid2{
    padding-top: 35px;
    padding-bottom: 35px;
    margin-top: 0px;
}
